{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}

<script>
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    } 
</script>

<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
    </header>
    <div class="content">
        {{ page.content | safe }}
    </div>
    <a onclick="topFunction()" style="cursor:pointer;">Get back to top
        <img style="margin: -0.2em 0; display: inline; width : 1em;" src="../../images/icons/corner-right-up-outline.svg">
    </a> 
    {{ page_macros::page_info(page=page) }}
</article>

{% endblock content %}